/Anagram.class
/Anagram2.class
/CountAllNumberInSentence.class
/DivideEveryAlphabet.class
/FirstLetterUppercase.class
/Frequency.class
/LongestCommonPrefix.class
/PrintOnlyVowels.class
/RemoveDuplicates.class
/RemoveDuplicatesSets.class
/RemoveVowelsInSentence.class
/ReverseSentence.class
/ReverseSentence2.class
/ReverseString.class
/StringFrequency.class
/StringPalindrome.class
/SubString.class
